{% extends "home/base.html" %}

{% block content %}
{% load staticfiles %}
<link href="{% static 'home/signup/vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet" media="all">
<link href="{% static 'home/signup/vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all">
<!-- Font special for pages-->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

<!-- Vendor CSS-->
<link href="{% static 'home/signup/vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
<link href="{% static 'home/signup/vendor/datepicker/daterangepicker.css' %}" rel="stylesheet" media="all">

<!-- Main CSS-->
<link href="{% static 'home/signup/css/main.css' %}" rel="stylesheet" media="all">

<div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
    <div class="wrapper wrapper--w790">
        <div class="card card-5">
            <div class="card-heading">
                <h2 class="title">Change Password</h2>
            </div>
            <div class="card-body">

                <form method="post" action="{% url 'home:change_password' custom_user.username %}">
                    {% csrf_token %}

                    <div class="form-row">
                        <div class="name">Old Password</div>
                        <div class="value">
                            <div class="input-group">
                                <input class="input--style-5" type="password" name="old_password">
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="name">New Password</div>
                        <div class="value">
                            <div class="input-group">
                                <input class="input--style-5" type="password" name="new_password">
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="name">Confirm Password</div>
                        <div class="value">
                            <div class="input-group">
                                <input class="input--style-5" type="password" name="confirm_password">
                            </div>
                        </div>
                    </div>

                    <div>
                        <button class="btn btn--radius-2 btn--red" type="submit">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% load staticfiles %}
<script>
    var username_list = {{username_list|safe}};
    var email_list = {{email_list|safe}};
    var userName = "{{custom_user.username}}";
    var userEmail = "{{custom_user.email}}";
</script>
<script src="{% static 'home/js/profile_edit_validation.js' %}"></script>

<script src="{% static 'home/signup/vendor/jquery/jquery.min.js' %}"></script>
<!-- Vendor JS-->
<script src="{% static 'home/signup/vendor/select2/select2.min.js' %}"></script>
<script src="{% static 'home/signup/vendor/datepicker/moment.min.js' %}"></script>
<script src="{% static 'home/signup/vendor/datepicker/daterangepicker.js' %}"></script>

<!-- Main JS-->
<script src="{% static 'home/signup/js/global.js' %}"></script>


<!-- <h1>Change Password</h1>
<form method="post" action="{% url 'home:change_password' custom_user.username %}">
  {% csrf_token %} -->
  <!-- Old Password:<br>
  <input type="text" placeholder="Old Password" name="old_password"><br> -->

  <!-- New Password:<br>
  <input type="text" placeholder="New Password" name="new_password"><br> -->

  <!-- Confirm Password:<br>
  <input type="text" placeholder="Confirm Password" name="confirm_password"><br> -->

  <!-- <button type="submit">Update</button>
</form> -->

{% endblock %}
