{% extends "home/base.html" %}

{% block content %}

<h1>Change Password</h1>
<form method="post" action="{% url 'home:change_password' custom_user.username %}">
  {% csrf_token %}
  Old Password:<br>
  <input type="text" placeholder="Old Password" name="old_password"><br>

  New Password:<br>
  <input type="text" placeholder="New Password" name="new_password"><br>

  Confirm Password:<br>
  <input type="text" placeholder="Confirm Password" name="confirm_password"><br>

  <button type="submit">Update</button>
</form>

{% endblock %}
