{% if error_message %}
<h3> {{ error_message }} </h3>
{% endif %}

<h1> This is the Login page </h1>
<form method="post" action="{% url 'home:login_user' %}">
  {% csrf_token %}
  User Name:<br>
  <input type="text" placeholder="User Name" name="username"><br>
  Password:<br>
  <input type="text" placeholder="Type Password" name="password"><br>
  <button type="submit" > Sign In </button>
</form>

<form method="get" action="{% url 'home:signup' %}">
  <button type="submit" > Sign Up </button>
</form>
