{% extends "home/base.html" %}

    {% block content %}
    <style>
        .user_name{
            font-size:14px;
            font-weight: bold;
        }
        .comments-list .media{
            border-bottom: 1px dotted #ccc;
        }
    </style>

    <div class="container-fluid">
      <div class="row" style="padding: 5em 5em;">

        <form method="post" action="{% url 'home:profile' custom_user.username %}">
            {% csrf_token %}
                <div class="input-group">
                  <input type="text" class="form-control" name="post"></input>
                  <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">Post</button>
                  </span>
                </div>
            </form>
            </div>
        </div>


            {% for post in posts %}
            <div class="container">

        <div class="panel panel-default">
            <div class="panel-body">
               <section class="post-heading">
                    <div class="row">
                        <div class="col-md-11">
                            <div class="media">
                              <div class="media-left">
                                <a href="{% url 'home:user_view_profile' post.user.username %}">
                                  <img class="media-object photo-profile" src="{{post.user.profile_image}}" width="40" height="40">
                                </a>
                              </div>
                              <div class="media-body">
                                <a href="{% url 'home:user_view_profile' post.user.username %}" class="anchor-username"><h4 class="media-heading">{{post.user.first_name}} {{post.user.last_name}}</h4></a>
                                <a href="#" class="anchor-time">{{post.post_time}}</a>
                              </div>
                            </div>
                        </div>
                         <!-- <div class="col-md-1">
                             <a href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                         </div> -->
                    </div>
               </section>
               <section class="post-body">
                   <p style="color: black;">{{post.post}}</p>
               </section>
               <!-- <div class="post-footer-option container">
                    <ul class="list-unstyled">
                        <li><a href="#"><i class="glyphicon glyphicon-thumbs-up"></i> Like</a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-comment"></i> Comment</a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-share-alt"></i> Share</a></li>
                    </ul>
               </div> -->


               <section class="post-footer">
                   <hr>

                   <div class="post-footer-comment-wrapper">
                       <div class="comment-form">
                       </div>


                       <div class="comments-list">

                           {% for comment in comments %}
                           {% if comment.post == post %}
                       <div class="media" style="padding: 0em 0em 1em 0em;">
                            <a class="media-left" href="{% url 'home:user_view_profile' comment.user.username %}">
                              <img class="media-object photo-profile" src="{{comment.user.profile_image}}" width="40" height="40">
                            </a>
                            <div class="media-body">

                              <a href="{% url 'home:user_view_profile' comment.user.username %}"><h4 class="media-heading user_name">{{comment.user.first_name}} {{comment.user.last_name}}</h4></a>
                              {{comment.comment}}

                              <!-- <p><small><a href="">Like</a> - <a href="">Share</a></small></p> -->
                            </div>
                            <p class="pull-right"><small>{{comment.comment_time}}</small></p>
                          </div>
                          {% endif %}
                          {% endfor %}

                   </div>

                       <form method="post" action="{% url 'home:post_comment' custom_user.username post.id %}">
                           {% csrf_token %}
                       <div class="comment">
                            <div class="media">
                              <div class="media-body">
                                  <div class="input-group">
                                    <input type="text" class="form-control" name="comment"></input>
                                    <span class="input-group-btn">
                                      <button class="btn btn-primary" type="submit">Comment</button>
                                    </span>
                                  </div>
                              </div>
                            </div>



                       </div>
                   </form>

                   </div>
               </section>
            </div>
        </div>
	<!-- </div> -->
</div>
            {% endfor %}

<!-- <p>{{post.post}} @ {{post.post_time}}</p> -->

    </div>

{% endblock %}
