<html>

<head>
    <title>BackchodCenter</title>
</head>

<body>
    <h1>{{ custom_user.first_name }} {{ custom_user.last_name }}</h1>
    <img src="{{custom_user.profile_image}}"><br>
    <a href="{{ custom_user.username }}/view_profile">View Profile</a><br>
    <a href="{{ custom_user.username }}/edit">Edit Profile</a><br>
    <a href="{{ custom_user.username }}/change_password">Change Password</a><br>
    <br>
    <form method="post" action="{% url 'home:profile' custom_user.username %}">
        {% csrf_token %}

        <input type="text" placeholder="Write something to post.." name="post">
        <button type="submit" >Post</button>
    </form>

    {% for post in posts %}
        <p>{{post.post}} @ {{post.post_time}}</p>
    {% endfor %}

    <br>

    <!-- Null friend requests -->
    {% for connection in connections %}
        <form method="post" action="{% url 'home:send_requests' custom_user.username %}">
            {% csrf_token %}
            {% if connection.status == "null" %}
                <input type='text' name='friend' value='{{connection.friend.username}}' hidden></input>
                <p>{{connection.friend.first_name}} {{connection.friend.last_name}}
                <button type="submit">Send friend request</button></p>
            {% endif %}
        </form>
    {% endfor %}

    <!-- Pending friend requests -->
    {% for connection in connections %}
        <form method="post" action="{% url 'home:pending_requests' custom_user.username %}">
            {% csrf_token %}
            {% if connection.status == "pending" %}
                <input type='text' name='friend' value='{{connection.friend.username}}' hidden></input>
                <p>{{connection.friend.first_name}} {{connection.friend.last_name}}</p>
                <select name='action'>
                    <option value='confirm'>Confirm</option>
                    <option value='delete'>Delete</option>
                </select>
                <button type="submit">Submit</button></p>
            {% endif %}
        </form>
    {% endfor %}

    <!-- Sent friend requests -->Gupta
    {% for connection in connections %}
        {% if connection.status == "sent" %}
            <p>{{connection.friend.first_name}} {{connection.friend.last_name}}</p>
            <p>Friend Request sent</p>
        {% endif %}
    {% endfor %}

    <!-- Confirmed friend requests -->
    {% for connection in connections %}
        <form method="post" action="{% url 'home:confirmed_requests' custom_user.username %}">
            {% csrf_token %}
            {% if connection.status == "confirmed" %}
                <input type='text' name='friend' value='{{connection.friend.username}}' hidden></input>
                <p>{{connection.friend.first_name}} {{connection.friend.last_name}}</p>
                <button type="submit">Unfriend</button></p>
            {% endif %}
        </form>
    {% endfor %}

    <a href="{% url 'messenger:base' custom_user.id %}">Messenger</a><br>

</body>

</html>
