{% if error_message %}
<h3> {{ error_message }} </h3>
{% endif %}

<h1> This is the Signup page </h1>

{% load staticfiles %}
<script>
    var field = "{{error_field}}"
    var message = "{{message}}";
    //alert(message);
</script>



<form method="post" action="{% url 'home:signup' %}">
  {% csrf_token %}

  First Name:<br>
  <input type="text" placeholder="First Name" name="first_name">
  <p id="first_name"></p><br>

  Last Name:<br>
  <input type="text" placeholder="Last Name" name="last_name">
  <p id="last_name"></p><br>

  User Name:<br>
  <input type="text" placeholder="User Name" name="username">
  <p id="username"></p><br>

  Email:<br>
  <input type="text" placeholder="Email" name="email">
  <p id="email"></p><br>
  <br>
  Password:<br>
  <input type="text" placeholder="Type Password" name="password">
  <p id="password"></p><br>

  Confirm Password:<br>
  <input type="text" placeholder="Confirm Password" name="password2">
  <p id="confirm_password">
  </p>
  <script src="{% static "/home/js/signup.js" %}">
  </script>

  Contact:<br>
  <input type="text" placeholder="Contact" name="contact">
  <p id="contact"></p><br>

  Gender:<br>
  <select name='gender'>
      <option value='Male'>Male</option>
      <option value='Female'>Female</option>
      <option value='Other'>Other</option>
      <option value='Do not wish to specify'>Do not wish to specify</option>
  </select>
  <p id="gender"></p><br>

  Date Of Birth:<br>
  <input type="date" placeholder="Date Of Birth" name="date_of_birth">
  <p id="date_of_birth"></p><br>

  <script src='https://www.google.com/recaptcha/api.js'></script>
  <div class="g-recaptcha" id="recaptcha" data-sitekey="6LepHZcUAAAAAK2JrcK0Mx-kIyWHVRUmVhgZY89q"></div>

  <button type="submit" >Sign Up</button>
</form>

<script  src="{% static "/home/js/signup.js" %}"></script>
