<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    <script>
        var username_list = {{username_list|safe}};
        var email_list = {{email_list|safe}};
        var response;
        function refreshCaptchaResponse(){
            alert("yes");
            response = grecaptcha.getResponse();
            alert(response);
            return true;
        }
    </script>
    <script src="{% static 'home/js/signup_validation.js' %}"></script>
</head>

<body>

    <h1> This is the Signup page </h1>

    <form name="myForm" onsubmit="return refreshCaptchaResponse() && validateForm(username_list, email_list, response)" method="post" action="{% url 'home:signup' %}">
        {% csrf_token %}

        First Name:<br>
        <input type="text" placeholder="First Name" name="first_name">
        <p id="first_name"></p><br>

        Last Name:<br>
        <input type="text" placeholder="Last Name" name="last_name">
        <p id="last_name"></p><br>

        User Name:<br>
        <input type="text" placeholder="User Name" name="username">
        <p id="username"></p><br>

        Email:<br>
        <input type="text" placeholder="Email" name="user_email">
        <p id="user_email"></p><br>

        Password:<br>
        <input type="text" placeholder="Type Password" name="password">
        <p id="password"></p><br>

        Confirm Password:<br>
        <input type="text" placeholder="Confirm Password" name="confirm_password">
        <p id="confirm_password">
        </p>

        Contact:<br>
        <input type="text" placeholder="Contact" name="contact">
        <p id="contact"></p><br>

        Gender:<br>
        <select name='gender'>
            <option value='Male'>Male</option>
            <option value='Female'>Female</option>
            <option value='Other'>Other</option>
            <option value='Do not wish to specify'>Do not wish to specify</option>
        </select>
        <p id="gender"></p><br>

        Date Of Birth:<br>
        <input type="date" placeholder="Date Of Birth" name="date_of_birth">
        <p id="date_of_birth"></p><br>

        <script src='https://www.google.com/recaptcha/api.js'></script>
        <div class="g-recaptcha" data-sitekey="6LepHZcUAAAAAK2JrcK0Mx-kIyWHVRUmVhgZY89q" data-callback="verifyCaptcha"></div>
        <p id="g-recaptcha-error"></p>

        <button type="submit" >Sign Up</button>
    </form>
</body>
</html>
